apiVersion: v1
kind: Config
clusters:
  - name: llmkube
    cluster:
      server: {{ llmkube_api_server }}
      certificate-authority-data: {{ llmkube_sa_secret.data['ca.crt'] }}
users:
  - name: llmkube-metal-agent
    user:
      token: {{ llmkube_sa_secret.data['token'] | b64decode }}
contexts:
  - name: llmkube
    context:
      cluster: llmkube
      user: llmkube-metal-agent
      namespace: {{ llmkube_namespace }}
current-context: llmkube
